
<div class="alert alert-info">
<h2>Смотри в камеру, улыбнись и нажми кнопку ФОТО
когда будешь готов ☺</h2>
</div>
<hr>
<div class="row" >
  <div class="span5 offset2 well">
<%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

<%= headshot_camera %>

<br/>

<button name="button" onclick="headshotHandlers.snap()" type="submit" class="btn btn-success btn-large">Сфотографировать</button>
<button name="button" onclick="headshot.configure()" type="submit">Настройка</button>
</div>
</div>
<br  />
<hr>
  <div class="form-actions" >
    <%= link_to 'Далее', next_wizard_path, :class=> "pull-right btn btn-primary btn-large"%>
  </div>
