<script language="JavaScript"> 
var customCameraHooks = {
  onComplete: function(response) {
  $('#next').css('visibility','visible');
}
};
</script>
<div class="alert alert-info">
<h2>Дивись у камеру, посміхнись і нажми кнопку "Фото" коли будеш готовий ☺</h2>
</div>
<hr>
<div class="pagination-centered" >

<%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path, :on_complete => "customCameraHooks.onComplete") %>

<%= headshot_camera %>

<br/>
<hr>
<button name="button" onclick="headshotHandlers.snap()" type="submit" class="btn btn-success btn-large">Фото</button>
<button name="button" onclick="headshot.configure()" type="submit">Настройка</button>

</div>
<br  />
<hr>
  <div class="form-actions pagination-centered" >
    <%= link_to 'Далі', next_wizard_path,:id=>"next", :class=> " btn btn-primary btn-large" , :style=>"visibility:hidden;"%>
  </div>
