 <script>  
  $(document).ready(function() {
    $(".btnPrint").printPage(
    {
      url: "/resume/results",
      attr: "href",
      message:"Идет печать ..."
}
    );
  });
</script>

<div id="print_page">
<% @person = Person.find(cookies[:person_id]) %>
<%- model_class = Person -%>
  <div class="alert alert-info">
    <% if cookies[:lang] == "ukr" %>
      <h4><%=t '.title', :default => "Результати теста:" %></h4>
    <% else %> 
      <h4><%=t '.title', :default => "Результаты теста:" %></h4>
    <% end %> 
  </div>
  <span id="res" style="color:gray">
    <%= @person.show_answer(cookies[:lang]) %>
  </span>
</div>
<hr />
 <% if cookies[:lang] == "ukr" %>
  <p class="pagination-centered"> <a class="btnPrint btn btn-primary btn-large" href='iframes/iframe.html' id="print_link">Роздрукувати</a></p>
 <% else %>
  <p class="pagination-centered"> <a class="btnPrint btn btn-primary btn-large" href='iframes/iframe.html' id="print_link">Печать</a></p>
 <% end %>
