
<div class="alert alert-info">
  <div class="row">
    <div class="span8 offset3">
      <h2 >  Твой лучший отдых  </h2>
 
<hr>
    <h6> чтото будет написано ....</h6>
      </div>
 </div>
</div>
<hr>
<div class="row">
 
    <div class="span4 offset4">
      <%= image_tag("http://joinfo.com/images/t_734_4.jpg") %>
    </div>
 
    <div class="span4">
    </div>
    
  </div>
  <br  />
  <hr>
  <div class="form-actions  pagination-centered">
    <%= link_to 'Дальше', next_wizard_path, :class=> "btn btn-primary btn-large "%>
  </div>

