<div class="hero-unit">
  <h1>ДОБРО ПОЖАЛОВАТЬ В 
    <br />
    ЦЕНТР ЗАНЯТОСТИ!</h1>
    <hr>
</div>
<div class="row">
 
    <div class="span4 offset4">
      <%= image_tag("http://upload.wikimedia.org/wikipedia/ru/archive/9/98/20121013113115!Mickey_Mouse_in_Steamboat_Willie,_1928.jpg") %>
    </div>
 
    <div class="span4">
    </div>
    
  </div>
  <br  />
  <hr>
  <p>
    <%= link_to 'Далее', next_wizard_path, :class=> "btn btn-primary btn-large pull-right"%>
  </p>

