
<div class="alert alert-info">
  <div class="row">
    <div class="span8 offset3">
      <h2 > Вітаємо в 
      <strong > Центрі Зайнятості! </strong></h2>
 
<hr>
    <h6> тут щось буде написано ....</h6>
      </div>
 </div>
</div>
<hr>
<div class="row">
 
    <div class="span4 offset4">
      <%= image_tag("http://upload.wikimedia.org/wikipedia/ru/archive/9/98/20121013113115!Mickey_Mouse_in_Steamboat_Willie,_1928.jpg") %>
    </div>
 
    <div class="span4">
    </div>
    
  </div>
  <br  />
  <hr>
  <div class="form-actions  pagination-centered">
    <%= link_to 'Далі', next_wizard_path, :class=> "btn btn-primary btn-large "%>
  </div>

