
<div class="alert alert-info">
  <div class="row">
    <div class="span3">
      <%= image_tag "kidslandia_logo.jpg", :style=>"width:150px;" %>
    </div> 
    <div class="span8">
      <h2 >  ТВІЙ НАЙКРАЩИЙ ВІДПОЧИНОК  </h2>
    </div>
  </div>
</div>
<hr>
<div class="row">
 
    <div class="span8 offset2">
      <%= image_tag("start.jpg") %>
    </div>
 
    <div class="span4">
    </div>
    
  </div>
  <br  />
  <hr>
  <div class="form-actions  pagination-centered">
    <%= link_to 'Далі', next_wizard_path, :class=> "btn btn-primary btn-large "%>
  </div>

