<%- model_class = Variant -%>
<div class="page-header">
  <h5> Вариант </h5>
  <p class="muted"> Сдесь вариант  привязываеться к одному либо нескольким ответам.</p>
</div>
<%= render :partial => 'form' %>
